@import url(../../utils/font.css);
@import url(../../utils/colors.css);

.topBanner{
  display:flex;
  align-items: center;
  width:100%;
  height:80vh;
  min-height:600px;
  max-height:700px;
  background:url('../../asset/머그컵.jpg') 50% 40% no-repeat;
  background-size:cover;
  h1{
    margin:0;
    padding:0 0 1rem 0;
    font-family: 'TTHakgyoansimMulgyeolB';
    font-size:3rem;
    line-height:1;
    text-align:center;
    color:var(--main-background-color);
    em{
      display:inline;
      font-family:inherit;
      font-style:normal;
    }
    @media screen and (max-width:600px) {
      em{display: block;}
    }
  }
  p{
    text-align:center;
    color:var(--main-background-color);
    padding-bottom: 10rem;
  }
  @media screen and (max-width:900px) {
    max-height: 650px;
    p{
      padding-bottom: 5rem;
    }
  }
  @media screen and (max-width:600px) {
    height:50vh;
    min-height:450px;
    max-height: 500px;
    h2{
      font-size:2.5rem;
    }
  }
}